<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <targets>
    <target name="infofile" xsi:type="File" filename="/home/LogFiles/practiceApplication19071402-info-${shortdate}.log"></target>
    <target name="errorfile" xsi:type="File" filename="/home/LogFiles/practiceApplication19071402-error-${shortdate}.log"></target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="infofile"></logger>
    <logger name="*" minlevel="Error" writeTo="infofile"></logger>
  </rules>
</nlog>